/* 1. Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*  Navbar Container Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Dark grey background */
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo Styling */
.logo a {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* Navigation Links List Structure */
.nav-links{
    display: flex;
    list-style: none;
}

/* Spacing between individual menu links */
.nav-links li{
    padding: 0 15px;
}

/* Individual Link Typography and Spacing */
.nav-links a{
    color: #efefef;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover Effect for Links */
.nav-links a: hover {
    color: #04AA6D; /* Changes color to an accent green on hover */
}

/* Styled indicator for the current active page link */
.nav-links a.active {
    color: #04AA6D;
    font-weight: bold;
}
